.nav-menu {
  position: absolute;
  top: 4vh;
  left: 4vh;
  height: 8vh;
  width: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4vh;
  background: white;
  cursor: pointer;
  filter: drop-shadow(0px 0px 20px rgb(255, 255, 255));
  z-index: 100;
  /* box-shadow: 0px 1px 30px 0px rgba(255, 255, 255, 1); */
}

.nav-menu:hover {
    box-shadow: 0px 1px 30px 0px rgba(255, 255, 255, 1);
}

/* .nav-menu img {
  width: 100%;
} */

.over {
  z-index: 100;
}

.under {
  z-index: 0;
}

.nav-menu-links {
  position: fixed;
  /* min-height: 100vh; */
  min-height:100vh;
  /* border-radius: 50%; */
  top: 0;
  /* left: 20vh; */
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; */
  /* top: 0;
  left: 0; */
  /* padding: 1vh 0 1vh; */
  /* border-radius: 10px; */
  background: #000000;
  transition: opacity 2s linear;
  /* box-shadow: 0px 1px 30px 0px rgba(255, 255, 255, 1); */
  z-index: 50;
  overflow: hidden;
}

.nav-menu-links ul {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* transition: opacity 4s linear; */
}

.nav-menu-links ul li {
  /* padding: 1vh 3vw 1vh 2vw; */
  /* font-size: 1rem; */
}

.nav-menu-links a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  color: inherit;
}

.nav-menu-links a:hover {
  text-decoration: underline;
}

.nav-menu-links img {
  right: 1vh;
  top: 1vh;
  position: absolute;
  width: 3vh;
  cursor: pointer;
}

.no-size {
  /* width: 0%; */
  /* box-shadow: none; */
  /* height: 0%; */
  /* clip-path: circle(0% at 50% 50%); */
  opacity: 0;
  pointer-events: none;
  /* clip-path: circle(50.0% at -50% 50%); */
  /* display: none; */

  /* width: 0;
  height: 0; */
}

.yes-size {
  /* clip-path: circle(100% at 50% 50%); */
  opacity: 1;
  /* width: 100%; */
  /* clip-path: circle(100.0% at 50% 50%); */

  /* box-shadow: 0px 0px 25px #fff; */
}

.moon-active {
  box-shadow: 0px 1px 30px 0px rgba(255, 255, 255, 1);
}

.yes-opacity {
  opacity: 1;
}

.no-opacity {
  opacity: 0;
}

@media screen and (max-width: 750px) {
  .nav-menu {
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
  }
}
