.pic-container {
  display: flex;
  flex-direction: column;
  background: #fff;

  /* width: 16vw; */
  /* max-width: 15vw; */
  padding: 1vw;
  box-shadow: 0px 0px 100px rgb(0 0 0 / 50%);
  /* transition: box-shadow 0.5s ; */
  /* margin-right: 1em; */
  /* align-items: center;
    justify-content: center; */
}
.pic-container:hover {
  transition: transform 200ms ease-in;
  transform: scale(1.2);
}

.pic-container img {
  /* margin: 1vw 1vw 0 1vw; */
  height: 15vw;
  width: 15vw;
  object-fit: cover;

  /* border-radius: 6px; */
  /* box-shadow: 10px 56px 35px rgba(0, 0, 0, 0.41); */
}

.pic-container span {
  /* overflow-wrap: break-word; */
  margin-top: 0.5em;
  color: #000;
  max-width: 15vw;
  font-size: 2vw;
  text-transform: capitalize;
  font-family: "Just Another Hand", cursive;
}
.pic-container a {
  /* text-decoration: underline; */
}

@media (max-width: 750px) {
  p {
    display: inline;
  }
  .pics-container .pic-container {
    margin: 0;
  }
  .pic-container {
    box-shadow: none;
    padding: 0;
    background: none;
  }
  .pic-container img {
    height: 15vh;
    width: 15vh;
    box-shadow: none;
    border-radius: 6px;
  }

  .pic-container span {
    margin: 0;
    white-space: pre;
    font-family: inherit;
    color: lightgray;
    font-size: 0.7vw;
    /* max-width: 100%; */
  }
}
