.pic-container {
  
}

.pic-container img {
  margin: 1vw;
  height: 10vw;
  width: 10vw;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 10px 56px 35px #004756;
}

@media (max-width: 750px) {
  .pic-container img {
    height: 15vh;
    width: 15vh;
    box-shadow: none;
  }
}
