@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@200&display=swap");
.word-container {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  padding: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.word {
  font-size: 3vw;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 17px 20px rgba(0, 0, 0, 1);
  animation: fadin 2s ease-in;
}

@keyframes fadin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 750px) {
  .word {
    font-size: 5vh;
    text-shadow: none;
  }
  .word-container {
    padding: 3.5vh;
  }
}
