.word-container {
  padding: 1em;
  width: 100%;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0%,
    #000000 50.58%,
    rgba(0, 0, 0, 0) 100%
  );
}
.word {
  font-size: 3vw;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 750px) {
  .word {
    font-size: 6vh;
  }
}
