.wrapper {
  /* animation: bounce 4s ease-in-out forwards infinite; */
  position: relative;
}
.back-face {
  height: 10vw;
  width: 10vw;
  margin: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid white;
  border-radius: 8px;
  font-family: inherit;
  background: none;
  /* box-shadow: var(--dice-box-shadow); */
  /* box-shadow: 10px 56px 35px #004756; */
  animation: bounce 4s ease-in-out forwards infinite;  
}

.icono {
  height: 30%;
}

.shadow {
  height: 10vw;
  width: 10vw;
  position: absolute;
  border: 10px solid #004756;
  border-radius: 6px;
  top: 30px;
  left: 10px;
  filter: blur(30px); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  animation: bounce-shadow 4s ease forwards infinite;
}

.shadow div {
  width: 50px;
  height: 50px;
  background-color: #004756;
  /* filter: blur(10px); */
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
    /* box-shadow: 10px 36px 15px #004756; */
  }
}

@keyframes bounce-shadow {
  0% {
    filter: blur(30px);
  }
  50% {
    filter: blur(10px);
    /* box-shadow: 10px 36px 15px #004756; */
  }
  /* 100% {
    filter: blur(20px);
  } */
}

/* @media (max-width: 1050px) {
  .back-face {
    height: 15vw;
    width: 15vw;
  }
} */

@media (max-width: 750px) {
  .back-face {
    height: 15vh;
    width: 15vh;
    box-shadow: 0px 0px 45px rgba(255, 255, 255, 0.5);
    animation: none;
    /* margin: 0; */
  }
  .shadow {
    display: none;
    /* animation: none; */
  }
}

/* @media (max-height: 700px) {
  .back-face {
    height: 20vw;
    width: 20vw;
  }
}

@media (max-width: 450px) {
  .back-face {
    min-height: 30vw;
    min-width: 30vw;
  }
}




 */
