.back-face {
  height: 10vw;
  width: 10vw;
  margin: 1vw;
  border-radius: 6px;
  background: var(--dice-background);
  box-shadow: var(--dice-box-shadow);
}

.front-face {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: inherit;
  border-radius: 56px;
  background: var(--dice-front);
}

.icono {
  height: 30%;
}

/* @media (max-width: 1050px) {
  .back-face {
    height: 15vw;
    width: 15vw;
  }
} */

@media (max-width: 750px) {
  .back-face {
    height: 15vh;
    width: 15vh;
    margin: 0;
  }
}

/* @media (max-height: 700px) {
  .back-face {
    height: 20vw;
    width: 20vw;
  }
}

@media (max-width: 450px) {
  .back-face {
    min-height: 30vw;
    min-width: 30vw;
  }
}




 */
