.btn-add {
  width: 5vw;
  height: 5vw;
  /* padding: 2em 0 2em 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  background: var(--btn-add-bg);
  border-radius: 9px;
  cursor: pointer;
}

.add-img {
  width: 60%;
}

@media screen and (max-width: 750px) {
  .btn-add {
    width: 5vh;
    height: 5vh;
  }
}
