.btn-add {
  width: 4vw;
  height: 4vw;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  font-size: inherit;
  background: none;
  border-radius: 9px;
  cursor: pointer;
}

.fa-plus {
  width:100%;
  height:100%;
}

@media screen and (max-width: 750px) {
  .btn-add {
    width: 5vh;
    height: 5vh;
  }
}
