.btn-add {
  width: 4em;
  height: 4em;
  padding: 2em 0 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  background: var(--btn-add-bg);
  border-radius: 9px;
  cursor: pointer;
}

.add-img {
  width: 60%;
}
