.btn {
  position: relative;
  width: 6vw;
  height: 6vw;
  color: #fff;
  margin: 0 3vw 0 3vw;
  background: none;
  cursor: pointer;
  transition: 0.25s;
  
}

.fa-dice-five {
  width: 100%;
  height: 100%;
  /* filter: drop-shadow(0px 20px 10px rgba(0, 86, 105, 0.69)); */
  
}

.spinner {
animation: spin 5s infinite linear;
}

/* .fa-dice-five:hover {
  filter: drop-shadow(0px 20px 10px rgba(0, 86, 105, 0.69));
  transform: translateY(-0.25em);
} */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 750px) {
  .btn {
    width: 7.5vh;
    height: 7.5vh;
  }
}
