@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&family=Just+Another+Hand&family=swap");

:root {
  --bg-color: radial-gradient(
    101.37% 101.37% at 50% 100%,
    #7bffe7 0%,
    #10385e 64.78%,
    #000000 100%
  );
  --main-font-color: #fff;
  --font-family: "Raleway", sans-serif;
  /* Dice */
  --dice-background: linear-gradient(174.56deg, #d6ffe1 2.1%, #6663dd 94.23%);
  --dice-front: linear-gradient(
    147.9deg,
    #b4ffdb 1.74%,
    #ffddfc 46.71%,
    #6bdcff 92.62%
  );
  --dice-icon-color: #6248ff;
  --dice-box-shadow: 10px 10px 45px rgba(0, 209, 255, 0.5);
  /* Buttons */
  --btn-delete-bg: linear-gradient(171.14deg, #ff416c -7.81%, #ff4b2b 108.5%);
  --btn-add-bg: linear-gradient(139.94deg, #aaffa9 7.27%, #11ffbd 100%);
  --btn-throw-bg: linear-gradient(132.98deg, #0d00a7 -35.88%, #e71bc6 210.13%);
  --btn-delete-color: #c10000;
  --btn-add-color: #339648;
  /* Nav menu */
  --menu-bg: linear-gradient(147.9deg, #5e1c97 1.74%, #300092 92.62%);
  --link-active: #480030;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

body {
  min-height: 100vh;
  max-height: 100vh;
  font-size: 100%;
  font-family: var(--font-family);
  color: var(--main-font-color);
  background: var(--bg-color);
  /* display: flex;
  justify-content: center; */
}

.App {
  min-height: 100vh;
  max-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  height: 25vh;
}
.logo {
  position: absolute;
  bottom: 5vh;
  right: 5vw;
}
.title {
  font-family: 'Just Another Hand', cursive;
  font-weight: 100;
  font-size: 4vw;
  text-shadow: 0px 0px 36px #00f0ff;
  /* align-self: flex-start; */
  /* position: absolute; */
  /* top: 1vh;
  width: 20vw; */
}
/* .title img {
  filter: drop-shadow(0px 0px 60px #13F1FF);
} */

.dices-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.words-container {
  min-width: 60vw;
  max-width: 90vw;
  min-height: 50vh;

  /* font-size: 100%; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25vw, auto));
  grid-row-gap: 4vh;
  /* overflow-wrap: break-word; */
  hyphens: auto;
}

.pics-container {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 50vh;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25vh;
  position: relative;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

@media screen and (max-width: 750px) {
  .App {
    justify-content: space-between;
  }
  .dices-container {
    /* margin-top: 7em; */
    height: 80vh;
    flex-direction: column-reverse;
    /* align-items: center; */
  }
  .pics-container {
    flex-direction: column-reverse;
    height: 80vh;
  }
  .words-container {
    height: 80vh;

    width: auto;
    min-width: auto;
    max-width: auto;
    display: flex;
    flex-direction: column-reverse;
    row-gap: 0;
  }
  .buttons {
    padding: 2vh 0 2vh 0;
    min-height: 10vh;
  }
  .buttons button {
    margin-left: 2vh;
    margin-right: 2vh;
  }
  .logo {
    top: 2vh;
    right:5vw;
  }

  header {
    min-height: 10vh;
    height: 10vh;
  }

  body {
    align-items: end;
    background: linear-gradient(
      180deg,
      #000000 0%,
      #77046b 34.5%,
      #0778df 64.73%,
      #00ffc2 112.28%
    );
  }
  /* .title {
    display: none;
  } */
}

@media (max-height: 650px) {
  .title {
    display: none;
  }
}

/*@media screen and (max-width: 450px) {
  .title {
    min-width: 40%;
  }
} */
