.stars {
  width: 100%;
  position: relative;
  z-index: 100;
}

.shooting-stars {
  z-index: 100;
  width: 5px;
  height: 85px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: absolute;
  bottom: 25vh;
  right: -5px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), white);
  animation: animShootingStar 20s linear infinite;
  animation-delay: 4s;
}

@keyframes animShootingStar {
  0% {
    transform: translateY(0px) translateX(0px) rotate(-45deg);
    opacity: 1;
    height: 5px;
  }
  20%, 100% {
    transform: translateY(-2560px) translateX(-2560px) rotate(-45deg);
    opacity: 1;
    height: 800px;
  }
}
.star:nth-child(0) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 85vw;
  margin-top: 66vh;
  animation: twinkle-0 1s linear infinite;
  animation-delay: 0s;
}

@keyframes twinkle-0 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(1) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 17vw;
  margin-top: 38vh;
  animation: twinkle-1 1s linear infinite;
  animation-delay: 0.01s;
}

@keyframes twinkle-1 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(2) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 84vw;
  margin-top: 11vh;
  animation: twinkle-2 1s linear infinite;
  animation-delay: 0.02s;
}

@keyframes twinkle-2 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(3) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 89vw;
  margin-top: 5vh;
  animation: twinkle-3 1s linear infinite;
  animation-delay: 0.03s;
}

@keyframes twinkle-3 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(4) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 57vw;
  margin-top: 50vh;
  animation: twinkle-4 1s linear infinite;
  animation-delay: 0.04s;
}

@keyframes twinkle-4 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(5) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 17vw;
  margin-top: 60vh;
  animation: twinkle-5 1s linear infinite;
  animation-delay: 0.05s;
}

@keyframes twinkle-5 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(6) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 99vw;
  margin-top: 10vh;
  animation: twinkle-6 1s linear infinite;
  animation-delay: 0.06s;
}

@keyframes twinkle-6 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(7) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 1vw;
  margin-top: 21vh;
  animation: twinkle-7 1s linear infinite;
  animation-delay: 0.07s;
}

@keyframes twinkle-7 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(8) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 36vw;
  margin-top: 28vh;
  animation: twinkle-8 1s linear infinite;
  animation-delay: 0.08s;
}

@keyframes twinkle-8 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(9) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 5vw;
  margin-top: 89vh;
  animation: twinkle-9 1s linear infinite;
  animation-delay: 0.09s;
}

@keyframes twinkle-9 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(10) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 71vw;
  margin-top: 65vh;
  animation: twinkle-10 1s linear infinite;
  animation-delay: 0.1s;
}

@keyframes twinkle-10 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(11) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 64vw;
  margin-top: 85vh;
  animation: twinkle-11 1s linear infinite;
  animation-delay: 0.11s;
}

@keyframes twinkle-11 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(12) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 90vw;
  margin-top: 70vh;
  animation: twinkle-12 1s linear infinite;
  animation-delay: 0.12s;
}

@keyframes twinkle-12 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(13) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 9vw;
  margin-top: 25vh;
  animation: twinkle-13 1s linear infinite;
  animation-delay: 0.13s;
}

@keyframes twinkle-13 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(14) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 56vw;
  margin-top: 34vh;
  animation: twinkle-14 1s linear infinite;
  animation-delay: 0.14s;
}

@keyframes twinkle-14 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(15) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 34vw;
  margin-top: 77vh;
  animation: twinkle-15 1s linear infinite;
  animation-delay: 0.15s;
}

@keyframes twinkle-15 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(16) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 37vw;
  margin-top: 71vh;
  animation: twinkle-16 1s linear infinite;
  animation-delay: 0.16s;
}

@keyframes twinkle-16 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(17) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 30vw;
  margin-top: 27vh;
  animation: twinkle-17 1s linear infinite;
  animation-delay: 0.17s;
}

@keyframes twinkle-17 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(18) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 95vw;
  margin-top: 20vh;
  animation: twinkle-18 1s linear infinite;
  animation-delay: 0.18s;
}

@keyframes twinkle-18 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(19) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 29vw;
  margin-top: 34vh;
  animation: twinkle-19 1s linear infinite;
  animation-delay: 0.19s;
}

@keyframes twinkle-19 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(20) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 25vw;
  margin-top: 58vh;
  animation: twinkle-20 1s linear infinite;
  animation-delay: 0.2s;
}

@keyframes twinkle-20 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(21) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 60vw;
  margin-top: 76vh;
  animation: twinkle-21 1s linear infinite;
  animation-delay: 0.21s;
}

@keyframes twinkle-21 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(22) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 32vw;
  margin-top: 8vh;
  animation: twinkle-22 1s linear infinite;
  animation-delay: 0.22s;
}

@keyframes twinkle-22 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(23) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 81vw;
  margin-top: 98vh;
  animation: twinkle-23 1s linear infinite;
  animation-delay: 0.23s;
}

@keyframes twinkle-23 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(24) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 12vw;
  margin-top: 38vh;
  animation: twinkle-24 1s linear infinite;
  animation-delay: 0.24s;
}

@keyframes twinkle-24 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(25) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 75vw;
  margin-top: 57vh;
  animation: twinkle-25 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes twinkle-25 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(26) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 39vw;
  margin-top: 18vh;
  animation: twinkle-26 1s linear infinite;
  animation-delay: 0.26s;
}

@keyframes twinkle-26 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(27) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 43vw;
  margin-top: 100vh;
  animation: twinkle-27 1s linear infinite;
  animation-delay: 0.27s;
}

@keyframes twinkle-27 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(28) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 66vw;
  margin-top: 9vh;
  animation: twinkle-28 1s linear infinite;
  animation-delay: 0.28s;
}

@keyframes twinkle-28 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(29) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 28vw;
  margin-top: 8vh;
  animation: twinkle-29 1s linear infinite;
  animation-delay: 0.29s;
}

@keyframes twinkle-29 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(30) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 94vw;
  margin-top: 8vh;
  animation: twinkle-30 1s linear infinite;
  animation-delay: 0.3s;
}

@keyframes twinkle-30 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(31) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 10vw;
  margin-top: 99vh;
  animation: twinkle-31 1s linear infinite;
  animation-delay: 0.31s;
}

@keyframes twinkle-31 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(32) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 23vw;
  margin-top: 13vh;
  animation: twinkle-32 1s linear infinite;
  animation-delay: 0.32s;
}

@keyframes twinkle-32 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(33) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 59vw;
  margin-top: 14vh;
  animation: twinkle-33 1s linear infinite;
  animation-delay: 0.33s;
}

@keyframes twinkle-33 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(34) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 46vw;
  margin-top: 36vh;
  animation: twinkle-34 1s linear infinite;
  animation-delay: 0.34s;
}

@keyframes twinkle-34 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(35) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 68vw;
  margin-top: 55vh;
  animation: twinkle-35 1s linear infinite;
  animation-delay: 0.35s;
}

@keyframes twinkle-35 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(36) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 91vw;
  margin-top: 1vh;
  animation: twinkle-36 1s linear infinite;
  animation-delay: 0.36s;
}

@keyframes twinkle-36 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(37) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 77vw;
  margin-top: 23vh;
  animation: twinkle-37 1s linear infinite;
  animation-delay: 0.37s;
}

@keyframes twinkle-37 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(38) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 43vw;
  margin-top: 93vh;
  animation: twinkle-38 1s linear infinite;
  animation-delay: 0.38s;
}

@keyframes twinkle-38 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(39) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 6vw;
  margin-top: 40vh;
  animation: twinkle-39 1s linear infinite;
  animation-delay: 0.39s;
}

@keyframes twinkle-39 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(40) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 76vw;
  margin-top: 16vh;
  animation: twinkle-40 1s linear infinite;
  animation-delay: 0.4s;
}

@keyframes twinkle-40 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(41) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 23vw;
  margin-top: 58vh;
  animation: twinkle-41 1s linear infinite;
  animation-delay: 0.41s;
}

@keyframes twinkle-41 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(42) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 9vw;
  margin-top: 36vh;
  animation: twinkle-42 1s linear infinite;
  animation-delay: 0.42s;
}

@keyframes twinkle-42 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(43) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 21vw;
  margin-top: 17vh;
  animation: twinkle-43 1s linear infinite;
  animation-delay: 0.43s;
}

@keyframes twinkle-43 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(44) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 58vw;
  margin-top: 94vh;
  animation: twinkle-44 1s linear infinite;
  animation-delay: 0.44s;
}

@keyframes twinkle-44 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(45) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 67vw;
  margin-top: 12vh;
  animation: twinkle-45 1s linear infinite;
  animation-delay: 0.45s;
}

@keyframes twinkle-45 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(46) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 43vw;
  margin-top: 44vh;
  animation: twinkle-46 1s linear infinite;
  animation-delay: 0.46s;
}

@keyframes twinkle-46 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(47) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 56vw;
  margin-top: 85vh;
  animation: twinkle-47 1s linear infinite;
  animation-delay: 0.47s;
}

@keyframes twinkle-47 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(48) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 42vw;
  margin-top: 43vh;
  animation: twinkle-48 1s linear infinite;
  animation-delay: 0.48s;
}

@keyframes twinkle-48 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(49) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 72vw;
  margin-top: 67vh;
  animation: twinkle-49 1s linear infinite;
  animation-delay: 0.49s;
}

@keyframes twinkle-49 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(50) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 64vw;
  margin-top: 92vh;
  animation: twinkle-50 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes twinkle-50 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(51) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 45vw;
  margin-top: 31vh;
  animation: twinkle-51 1s linear infinite;
  animation-delay: 0.51s;
}

@keyframes twinkle-51 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(52) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 94vw;
  margin-top: 69vh;
  animation: twinkle-52 1s linear infinite;
  animation-delay: 0.52s;
}

@keyframes twinkle-52 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(53) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 37vw;
  margin-top: 78vh;
  animation: twinkle-53 1s linear infinite;
  animation-delay: 0.53s;
}

@keyframes twinkle-53 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(54) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 72vw;
  margin-top: 60vh;
  animation: twinkle-54 1s linear infinite;
  animation-delay: 0.54s;
}

@keyframes twinkle-54 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(55) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 79vw;
  margin-top: 73vh;
  animation: twinkle-55 1s linear infinite;
  animation-delay: 0.55s;
}

@keyframes twinkle-55 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(56) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 5vw;
  margin-top: 81vh;
  animation: twinkle-56 1s linear infinite;
  animation-delay: 0.56s;
}

@keyframes twinkle-56 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(57) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 54vw;
  margin-top: 67vh;
  animation: twinkle-57 1s linear infinite;
  animation-delay: 0.57s;
}

@keyframes twinkle-57 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(58) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 98vw;
  margin-top: 82vh;
  animation: twinkle-58 1s linear infinite;
  animation-delay: 0.58s;
}

@keyframes twinkle-58 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(59) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 97vw;
  margin-top: 93vh;
  animation: twinkle-59 1s linear infinite;
  animation-delay: 0.59s;
}

@keyframes twinkle-59 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(60) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 32vw;
  margin-top: 29vh;
  animation: twinkle-60 1s linear infinite;
  animation-delay: 0.6s;
}

@keyframes twinkle-60 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(61) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 52vw;
  margin-top: 21vh;
  animation: twinkle-61 1s linear infinite;
  animation-delay: 0.61s;
}

@keyframes twinkle-61 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(62) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 49vw;
  margin-top: 10vh;
  animation: twinkle-62 1s linear infinite;
  animation-delay: 0.62s;
}

@keyframes twinkle-62 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(63) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 88vw;
  margin-top: 79vh;
  animation: twinkle-63 1s linear infinite;
  animation-delay: 0.63s;
}

@keyframes twinkle-63 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(64) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 2vw;
  margin-top: 96vh;
  animation: twinkle-64 1s linear infinite;
  animation-delay: 0.64s;
}

@keyframes twinkle-64 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(65) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 46vw;
  margin-top: 33vh;
  animation: twinkle-65 1s linear infinite;
  animation-delay: 0.65s;
}

@keyframes twinkle-65 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(66) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 30vw;
  margin-top: 78vh;
  animation: twinkle-66 1s linear infinite;
  animation-delay: 0.66s;
}

@keyframes twinkle-66 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(67) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 76vw;
  margin-top: 1vh;
  animation: twinkle-67 1s linear infinite;
  animation-delay: 0.67s;
}

@keyframes twinkle-67 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(68) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 42vw;
  margin-top: 26vh;
  animation: twinkle-68 1s linear infinite;
  animation-delay: 0.68s;
}

@keyframes twinkle-68 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(69) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 98vw;
  margin-top: 78vh;
  animation: twinkle-69 1s linear infinite;
  animation-delay: 0.69s;
}

@keyframes twinkle-69 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(70) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 72vw;
  margin-top: 19vh;
  animation: twinkle-70 1s linear infinite;
  animation-delay: 0.7s;
}

@keyframes twinkle-70 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(71) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 22vw;
  margin-top: 96vh;
  animation: twinkle-71 1s linear infinite;
  animation-delay: 0.71s;
}

@keyframes twinkle-71 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(72) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 30vw;
  margin-top: 56vh;
  animation: twinkle-72 1s linear infinite;
  animation-delay: 0.72s;
}

@keyframes twinkle-72 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(73) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 29vw;
  margin-top: 1vh;
  animation: twinkle-73 1s linear infinite;
  animation-delay: 0.73s;
}

@keyframes twinkle-73 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(74) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 30vw;
  margin-top: 62vh;
  animation: twinkle-74 1s linear infinite;
  animation-delay: 0.74s;
}

@keyframes twinkle-74 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(75) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 80vw;
  margin-top: 96vh;
  animation: twinkle-75 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes twinkle-75 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(76) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 86vw;
  margin-top: 52vh;
  animation: twinkle-76 1s linear infinite;
  animation-delay: 0.76s;
}

@keyframes twinkle-76 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(77) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 38vw;
  margin-top: 68vh;
  animation: twinkle-77 1s linear infinite;
  animation-delay: 0.77s;
}

@keyframes twinkle-77 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(78) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 36vw;
  margin-top: 93vh;
  animation: twinkle-78 1s linear infinite;
  animation-delay: 0.78s;
}

@keyframes twinkle-78 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(79) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 82vw;
  margin-top: 96vh;
  animation: twinkle-79 1s linear infinite;
  animation-delay: 0.79s;
}

@keyframes twinkle-79 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(80) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 33vw;
  margin-top: 24vh;
  animation: twinkle-80 1s linear infinite;
  animation-delay: 0.8s;
}

@keyframes twinkle-80 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(81) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 1vw;
  margin-top: 64vh;
  animation: twinkle-81 1s linear infinite;
  animation-delay: 0.81s;
}

@keyframes twinkle-81 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(82) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 62vw;
  margin-top: 79vh;
  animation: twinkle-82 1s linear infinite;
  animation-delay: 0.82s;
}

@keyframes twinkle-82 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(83) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 48vw;
  margin-top: 86vh;
  animation: twinkle-83 1s linear infinite;
  animation-delay: 0.83s;
}

@keyframes twinkle-83 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(84) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 47vw;
  margin-top: 26vh;
  animation: twinkle-84 1s linear infinite;
  animation-delay: 0.84s;
}

@keyframes twinkle-84 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(85) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 46vw;
  margin-top: 81vh;
  animation: twinkle-85 1s linear infinite;
  animation-delay: 0.85s;
}

@keyframes twinkle-85 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(86) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 4vw;
  margin-top: 58vh;
  animation: twinkle-86 1s linear infinite;
  animation-delay: 0.86s;
}

@keyframes twinkle-86 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(87) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 59vw;
  margin-top: 6vh;
  animation: twinkle-87 1s linear infinite;
  animation-delay: 0.87s;
}

@keyframes twinkle-87 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(88) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 28vw;
  margin-top: 77vh;
  animation: twinkle-88 1s linear infinite;
  animation-delay: 0.88s;
}

@keyframes twinkle-88 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(89) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 9vw;
  margin-top: 14vh;
  animation: twinkle-89 1s linear infinite;
  animation-delay: 0.89s;
}

@keyframes twinkle-89 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(90) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 73vw;
  margin-top: 1vh;
  animation: twinkle-90 1s linear infinite;
  animation-delay: 0.9s;
}

@keyframes twinkle-90 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(91) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 69vw;
  margin-top: 37vh;
  animation: twinkle-91 1s linear infinite;
  animation-delay: 0.91s;
}

@keyframes twinkle-91 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(92) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 57vw;
  margin-top: 13vh;
  animation: twinkle-92 1s linear infinite;
  animation-delay: 0.92s;
}

@keyframes twinkle-92 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(93) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 75vw;
  margin-top: 64vh;
  animation: twinkle-93 1s linear infinite;
  animation-delay: 0.93s;
}

@keyframes twinkle-93 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(94) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 68vw;
  margin-top: 81vh;
  animation: twinkle-94 1s linear infinite;
  animation-delay: 0.94s;
}

@keyframes twinkle-94 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(95) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 77vw;
  margin-top: 57vh;
  animation: twinkle-95 1s linear infinite;
  animation-delay: 0.95s;
}

@keyframes twinkle-95 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(96) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 53vw;
  margin-top: 33vh;
  animation: twinkle-96 1s linear infinite;
  animation-delay: 0.96s;
}

@keyframes twinkle-96 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(97) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 76vw;
  margin-top: 19vh;
  animation: twinkle-97 1s linear infinite;
  animation-delay: 0.97s;
}

@keyframes twinkle-97 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(98) {
  width: 1px;
  height: 1px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 73vw;
  margin-top: 16vh;
  animation: twinkle-98 1s linear infinite;
  animation-delay: 0.98s;
}

@keyframes twinkle-98 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(99) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 78vw;
  margin-top: 70vh;
  animation: twinkle-99 1s linear infinite;
  animation-delay: 0.99s;
}

@keyframes twinkle-99 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.star:nth-child(100) {
  width: 2px;
  height: 2px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  margin-left: 18vw;
  margin-top: 95vh;
  animation: twinkle-100 1s linear infinite;
  animation-delay: 1s;
}

@keyframes twinkle-100 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}

/*# sourceMappingURL=stars.css.map */
